<%= form_with model: targets_one_parent_action, url: (targets_one_parent_action.persisted? ? [:account, targets_one_parent_action] : [:account, @absolutely_abstract_creative_concept, :completely_concrete_tangible_things_targets_one_parent_actions]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>

  <% with_field_settings form: form do %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>

    <%= render "shared/actions/scheduling" %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, targets_one_parent_action], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @absolutely_abstract_creative_concept, :completely_concrete_tangible_things_targets_one_parent_actions], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
