<% object ||= current_attributes_object %>

<% if object.approved? %>
  <%= render 'shared/attributes/progress_bar', attribute: :performed_count, total: :target_count %>

  <div class="grid space-y md:grid-cols-2 md:space-y-0">
    <%= render 'shared/attributes/text', attribute: :succeeded_count %>
    <%= render 'shared/attributes/text', attribute: :failed_count %>

  <div class="grid space-y md:grid-cols-2 md:space-y-0">
    <%= render 'shared/attributes/file', attribute: :file %>
    <%= render 'shared/attributes/file', attribute: :rejected_file %>
  </div>

  <div class="grid space-y md:grid-cols-2 md:space-y-0">
    <%= render 'shared/attributes/date_and_time', attribute: :started_at %>
    <%= render 'shared/attributes/date_and_time', attribute: :completed_at %>
  </div>
  <% end %>

  <%= render 'shared/attributes/actions/mapping', attribute: :mapping %>

  <div class="grid space-y md:grid-cols-2 md:space-y-0">
  <%= render 'shared/attributes/belongs_to', attribute: :created_by %>
  <%= render 'shared/attributes/belongs_to', attribute: :approved_by %>
</div>
