<%= form_with model: targets_many_action, url: (targets_many_action.persisted? ? [:account, targets_many_action] : [:account, @absolutely_abstract_creative_concept, :completely_concrete_tangible_things_targets_many_actions]), local: true, class: 'form' do |form| %>
  <%= render 'account/shared/forms/errors', form: form %>
  <%= form.hidden_field :allow_empty_form, value: nil %>

  <%= render "shared/alert" do %>
    <% if @targets_many_action.target_all? %>
      We're preparing to Targets Many to <strong>all Tangible Things</strong> of <strong><%= @absolutely_abstract_creative_concept.name %></strong>.
    <% else %>
      We're preparing to Targets Many to <strong><%= targets_many_action.target_ids.count %> <%= targets_many_action.target_ids.count > 1 ? "Tangible Thing".pluralize(targets_many_action.target_ids.count) : "Tangible Thing" %></strong> of <strong><%= @absolutely_abstract_creative_concept.name %></strong>.
    <% end %>
  <% end %>

  <% with_field_settings form: form do %>

    <div class="inline hidden">
      <%= render 'shared/fields/buttons', method: :target_all, html_options: {autofocus: true} %>
      <%= render 'shared/fields/super_select', method: :target_ids, html_options: {multiple: true},
        choices: @targets_many_action.valid_targets.map { |targets_many_action| [targets_many_action.label_string, targets_many_action.id] } %>
    </div>

    <%# 🚅 skip this section when scaffolding. %>
    <%= render 'shared/fields/buttons', method: :emoji %>
    <%= render 'shared/fields/text_field', method: :delay %>
    <%# 🚅 stop any skipping we're doing now. %>
    <%# 🚅 super scaffolding will insert new fields above this line. %>

    <%= render "shared/actions/scheduling" %>
  <% end %>

  <div class="buttons">
    <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
    <% if form.object.persisted? %>
    <%= link_to t('global.buttons.cancel'), [:account, targets_many_action], class: "button-secondary" %>
    <% else %>
    <%= link_to t('global.buttons.cancel'), [:account, @absolutely_abstract_creative_concept, :completely_concrete_tangible_things_targets_many_actions], class: "button-secondary" %>
    <% end %>
  </div>

<% end %>
