<% tangible_thing = @tangible_thing || @tangible_thing %>
<% context ||= tangible_thing %>
<% collection ||= :targets_one_actions %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% targets_one_actions = targets_one_actions.order(:created_at) %>

<%= action_model_select_controller do %>
  <%= updates_for context, collection do %>
    <%= render 'account/shared/box' do |p| %>
      <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
      <% p.content_for :description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless targets_one_actions.any?}") %>
      <% end %>

      <% p.content_for :table do %>
        <% if targets_one_actions.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th  class="text-center"><%= t('.fields.keep_receipt.heading') %></th>
                <th><%= t('.fields.target_count.heading') %></th>
                <th><%= t('.fields.performed_count.heading') %></th>
                <th><%= t('.fields.created_by.heading') %></th>
                <th><%= t('.fields.approved_by.heading') %></th>
                <th><%= t('.fields.scheduled_for.heading') %></th>
                <th><%= t('.fields.started_at.heading') %></th>
                <th><%= t('.fields.completed_at.heading') %></th>
                <th><%= t('.fields.delay.heading') %></th>
                <th><%= t('.fields.emoji.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% targets_one_actions.each do |targets_one_action| %>
                <% with_attribute_settings object: targets_one_action do %>
                  <tr data-id="<%= targets_one_action.id %>">
                    <%= render "shared/tables/checkbox", object: targets_one_action %>
                    <td class="text-center"><%= render 'shared/attributes/boolean', attribute: :keep_receipt, url: [:account, targets_one_action] %></td>
                    <td><%= render 'shared/attributes/text', attribute: :target_count %></td>
                    <td><%= render 'shared/attributes/text', attribute: :performed_count %></td>
                    <td><%= render 'shared/attributes/option', attribute: :created_by %></td>
                    <td><%= render 'shared/attributes/option', attribute: :approved_by %></td>
                    <td><%= render 'shared/attributes/date_and_time', attribute: :scheduled_for %></td>
                    <td><%= render 'shared/attributes/date_and_time', attribute: :started_at %></td>
                    <td><%= render 'shared/attributes/date_and_time', attribute: :completed_at %></td>
                    <td><%= render 'shared/attributes/text', attribute: :delay %></td>
                    <td><%= render 'shared/attributes/text', attribute: :emoji %></td>
                    <%# 🚅 super scaffolding will insert new fields above this line. %>
                    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
                    <td class="buttons">
                      <% unless hide_actions %>
                        <% if can? :edit, targets_one_action %>
                          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, targets_one_action], class: 'button-secondary button-smaller' %>
                        <% end %>
                        <% if can? :destroy, targets_one_action %>
                          <%= button_to t('.buttons.shorthand.destroy'), [:account, targets_one_action], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(targets_one_action)) }, class: 'button-secondary button-smaller' %>
                        <% end %>
                        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% p.content_for :actions do %>
        <% unless hide_actions %>
          <% if context == tangible_thing %>
            <% if can? :create, Scaffolding::CompletelyConcrete::TangibleThings::TargetsOneAction.new(tangible_thing: tangible_thing) %>
              <%= link_to t('.buttons.new'), [:new, :account, tangible_thing, :targets_one_action], class: "#{first_button_primary(:targets_one_action)} new" %>
            <% end %>
          <% end %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:targets_one_action)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% p.content_for :raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
